<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>
<form method="POST" action="tweets">
  <input type="text" id="tweet"/>
  <button id="submit">送信</button>
</form>
<table>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.content %></td>
    </tr>
  <% end %>
</table>

